{{> header}}

<section class="city">
    <header class="city-header">
        <h1 class="city-name">{{city.name}}</h1>
        <p class="city-meta">By  <strong>{{city.name}}</strong>, on <strong>{{country.code}}, {{country.name}}</strong></p>
    </header>

    <div class="city-description">
        Id: {{city.id}},
        Name: {{city.name}},
        Country ID: {{country.id}},
        Country Name: {{country.name}},
        Country Code: {{country.code}},
        Country Continent: {{country.continent}}
    </div>
</section>

{{> footer}}