{{> header}}

<section class="country">
    <header class="country-header">
        <h1 class="country-name">{{country.name}}</h1>
        <p class="country-meta">By  <strong>{{country.code}}</strong>, on <strong>{{country.continent}}</strong></p>
    </header>

    <div class="country-description">
        {{country.id}}
        {{country.name}}
        {{country.code}}
        {{country.continent}}
    </div>

    <div class="city">

        {{#cities}}
            <section>
                <header class="city-header">
                    <h2 class="city-title"><a href="/country/{{country.code}}/city/{{id}}">{{name}}</a></h2>
                    <div class="city-meta">By  <strong>{{name}}</strong>, on <strong>{{country.name}}</strong></div>
                </header>
                <div class="city-description">
                    Id: {{id}},
                    Name: {{name}},
                    CountryID: {{country.id}},
                    Country Name: {{country.name}},
                    Country Code: {{country.code}},
                    Country Continent: {{country.continent}}
                </div>
            </section>
        {{/cities}}
    </div>
</section>

{{> footer}}